<!--tabla anime-->
<div class="container py-5 text-center mx-auto">
    <h2 class="text-center text-light mx-auto my-5"></h2>

    <!--tabla-->
    <section class="d-flex justify-content-center">
        <!--boton agregar anime-->
        <div id="scrollme">
            <table class="table table-light table-striped my-5">
                <thead class="text-center">
                    <tr class="text-center mx-auto">
                        <th scope="col">Index</th>
                        <th class="col" scope="col">Rut</th>
                        <th scope="col">n° cuenta</th>
                        <th scope="col">Tipo</th>
                        <th scope="col">Balance</th>
                        <th scope="col">Detalles</th>
                        <th scope="col">Eliminar</th>
                    </tr>
                </thead>

                <tbody>
                    {{#each data}}
                    <tr class="text-center ">
                        <th scope="row">{{this.id}}</th>
                        <td>{{this.rut}}</td>
                        <td>{{this.n_cuenta}}</td>
                        <td>{{this.tipo}}</td>
                        <td>{{this.balance}}</td>
                        <td><a class="btn detailBtn" href="/transacciones/{{this.id}}">Detalles</a></td>
                        <td><button class="btn deleteBtn">Eliminar</button></td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </section>
    <div class="text-center my-5">
        <a href="#form"> <button type="submit" id="formShow" class="btn p-2">Abrir nueva cuenta</button></a>
    </div>
</div>

<script>
    //Query selectors para almacenar los grupos de botones
    const deleteBtn = document.querySelectorAll(".deleteBtn");
    const detailBtn = document.querySelectorAll(".detailBtn");

    //Variable donde se guarda el id capturado por los botones delete, actualizar y detalles
    let id;

    //Muestra el formulario y oculta botones
    formShow.addEventListener('click', () => {
        form.classList.replace("d-none", "d-block");
        formShow.classList.replace("d-block", "d-none");
        updateForm.classList.replace("d-block", "d-none");
        createForm.classList.replace("d-none", "d-block");
        formCreateAnime.reset()

    })

    // capturamos todos los botones actualizar y capturamos la data de su fila
    for (let i = 0; i < updateBtn.length; i++) {
        updateBtn[i].addEventListener("click", (event) => {

            form.classList.replace("d-none", "d-block");
            createForm.classList.replace("d-block", "d-none");
            updateForm.classList.replace("d-none", "d-block");
            formShow.classList.replace("d-none", "d-block");

            let path = event.srcElement.offsetParent.nextSibling.parentElement.cells

            id = path[0].innerText;
            createNombre.value = path[1].innerText;
            createGenero.value = path[2].innerText;
            createAño.value = path[3].innerText;
            createAutor.value = path[4].innerText;
        });
    }

    // capturamos todos los botones eliminar y eliminamos el valor correspondiente
    for (let i = 0; i < deleteBtn.length; i++) {
        deleteBtn[i].addEventListener("click", (event) => {

            let path = event.srcElement.offsetParent.nextSibling.parentElement.cells
            let id = path[0].innerText;

            var requestOptions = {
                method: 'DELETE',
                redirect: 'follow'
            };

            fetch("http://localhost:3000/animes/" + id, requestOptions)
                .then(response => {
                    if (response.status == 200) {
                        return response.json()
                    } else {
                        throw new Error("Error al eliminar")
                    }
                })
                .then(result => {
                    alert(result.message)
                    location.reload()
                })
                .catch(error => error.message);
        });
    }

    // capturamos todos los botones para ver Detalles
    for (let i = 0; i < detailBtn.length; i++) {
        detailBtn[i].addEventListener("click", (event) => {
            console.log('hola detalle')

            let path = event.srcElement.offsetParent.nextSibling.parentElement.cells
            let id = path[0].innerText;

            var requestOptions = {
                method: 'GET',
                redirect: 'follow'
            };

            fetch(`http://localhost:3000/anime/${id}`, requestOptions)
                .then(response => {
                    if (response.status == 200) {
                        return response.json();
                    } else {
                        throw new Error("Error al obtener los datos")
                    }
                })
                .then(result => console.log(result))
                .catch(error => console.log('error', error));
        });
    }
</script>

<style>
    .table {
        box-shadow: 7px 7px 5px 0px rgb(172, 171, 171);
        -webkit-box-shadow: 7px 7px 5px 0px rgb(167, 166, 166);
        -moz-box-shadow: 7px 7px 5px 0px rgb(155, 154, 154);
        width: 80vw;
    }

    .detailBtn {
        background-color: rgb(55, 81, 226);
        color: white;
    }

    .deleteBtn {
        background-color: #d30a1e;
        color: white;
    }

    #formShow {
        background-color: rgb(55, 226, 92);
        color: white;
    }

    #formShow:hover, .detailBtn:hover, .deleteBtn:hover {
        background-color: rgb(145, 170, 228);
        color: black;
    }

    @media(max-width: 768px) {
        #scrollme {
            overflow-x: scroll;
            width: 70vw;
        }
    }

    @media(max-width: 630px) {
        #scrollme {
            overflow-x: scroll;
            width: 450px;
        }
    }
</style>